#top-navbar {
    overflow: hidden;
}

#top-navbar a {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;

}



#grid {
    width: 20px;
}

#avatar {
    width: 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    margin-top: -7.5px;
}


#search-div {
    width: 100%;
    height: 46px;
    font-family: 'Material Icons';
    font-size: 20px;
    padding: 0;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
}

#search-field {
    border: none;
    width: 90%;

    

}

#header {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 250px;
}

#search-icon {
    float: left;
    width: 2%;
    font-family: 'material icons';
    font-size: 24px;
    margin-top: 0;
}

#search-form {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    padding-left: 0;
}

#bottom-navbar {
    overflow: hidden;
    vertical-align: bottom;
    bottom: 0px;
}

#bottom-navbar a {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;

}

#bottom-right a {
    float: right;
}

#bottom-center a {}