#top-navbar {
    overflow: hidden;
}

#top-navbar a {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;

}



#grid {
    width: 20px;
}

#avatar {
    width: 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    margin-top: -7.5px;
}


#search-div {
    display: flex;
    width: 100%;
    height: 46px;
    font-family: 'Material Icons';
    font-size: 20px;
    padding: 0;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
}

#search-field {
    border: none;
    width: 95%;

    

}

#header {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 250px;
}

#search-icon {
    float: left;
    width: 3%;
    font-family: 'material icons';
    font-size: 24px;
    margin-top: 10;
}

#search-form {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    padding-left: 0;
}

#big-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bottom-navbar {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;  
    margin-left: 10px;
    margin-right: 20px;
}

#bottom-left {
    justify-content: flex-start;
    width: 30%;
    border: gray;
    border-width: 1px;
    border-style: solid;
}

#bottom-center {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    width: 40%;
    border: gray;
    border-width: 1px;
    border-style: solid;
}

#bottom-center a {
        margin: auto;

 
}

#bottom-right {
    justify-content: flex-end;
    width: 30%;
    border: gray;
    border-width: 1px;
    border-style: solid;
}
#bottom-right a {
    display: block;
    float: right;
}